body {
  margin: 0;
  background-color: rgb(30,30,30);
}

.show {
  display: block;
  color: white;
}

.evolve ul.show {
  display: block;
  color: white;
}


ul {
    display: none;
    position: absolute;
    z-index: 1;
    border: 5px;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    border: solid 5px;
    border-color:rgb(100,100,100);
    overflow: auto;
    max-height: 300px;
    width:260px;
    overflow-x: hidden;
  }
  
  div.evolve ul {
    display: none;
    position: absolute;
    width:43px;
    margin-top: 300px;
    left: -4px;
    
  }

  

  .party {
    height: 80px;
    width: 80px;
  }

  .topnavbar {
    background: linear-gradient(180deg, red, rgb(200,0,0), rgb(100,0,0));
    overflow: hidden;
    display: flex;
    justify-content: center;
    
    margin-bottom: 10px;
  }

  .topnavContent {
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 20px;
    padding: 0 30px;

  }

  .topnavbar a, .topnavbar img {
    float: center;
    text-align:center;
    padding: 5px;
  }

.topnavbar img:hover {
    background-color: rgb(200,0,0);
    border-radius: 20px;
  }
  .topnavbar a img {
    height: 80px;
    width:80px;
  }


  .wrapper {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: 80px;
  }

  p {
    width: 10%;
    color:white;
    font-size:25px;
    margin-right: 50px;
    display: flex;
    position: relative;
    align-items: left;
  }
  li:hover {
    background-color: rgb(8, 136, 255);

  }

  ul:hover {
    border-color: rgb(200,0,0);
    border-style: solid;
  }

   [contenteditable] {
    height: 60px;
    width: 290px;
    padding-left:10px;
    font-size: 30px;
    border-radius: 20px;
    background-color: white;
    color: black;
    position: relative;
    border-style: solid;
    display: flex;
    align-items:center;
    border-color:rgb(100,100,100);
   }
 


  li {
    color: black;
    list-style:none;
    position: relative;
    width:300px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 30px;
    height: 60px;
    left: -40px;
    font-size: 30px;
    display:flex;
    vertical-align: middle
  }
  

  div > div > div{
    display:inline-block;
    padding-bottom: 10px;
    padding-right: 5px;
  }  

.evolve, .reset {
  height: 60px;
  width: 70px;
  padding-left:10px;
  font-size: 30px;
  position: fixed;
  border-radius: 20px;
  background-color: white;
  color: black;
  position: relative;
  border-style: solid;
  display: flex;
  align-items:center;
  border-color:rgb(100,100,100);
  margin-right: 5px;
}

[contenteditable]:hover, .reset:hover, .evolve:hover {
  border-color:rgb(200,0,0);
  border-style: solid;
}

.pokemonDisplay {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-top: 10px;
}

div > img {
   width: 40px;
   height: 40px;
   margin-left: 10px;
   margin-top: 10px;
}